html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.hoverable:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.remove {
  background-color: #ff6969 !important;
}

.hide {
  display: none;
}
